extends layout

block content
  main
    h1 Tejas Manohar
      li
        b profession
        | engineer and entrepreneur
      li
        b email
        a(href='mailto:me@tejas.io') me@tejas.io
      li
        b twitter
        a(href='https://twitter.com/tejasmanohar') @tejasmanohar
      li
        b github
        a(href='https://github.com/tejasmanohar') /tejasmanohar
      li
        b reading
        | The Pragmatic Programmer
        a(href='https://en.wikipedia.org/wiki/The_Pragmatic_Programmer') Andrew Hunt and David Thomas
      li
        b listening
        a(href='https://www.youtube.com/watch?v=WcF-LEo2D4I') String Quartet No. 2
        | by
        a(href='https://en.wikipedia.org/wiki/Arnold_Schoenberg') Arnold Schoenberg
