extends layout

block content
  main
    h1 Tejas Manohar
      li
        b profession
        | engineer and entrepreneur
      li
        b email
        a(href='mailto:me@tejas.io') me@tejas.io
      li
        b twitter
        a(href='https://twitter.com/tejasmanohar') @tejasmanohar
      li
        b github
        a(href='https://github.com/tejasmanohar') /tejasmanohar
