doctype html
html(lang='en')
  head
    // Hi, my name is...
    title Tejas Manohar
    // My encoding is...
    meta(charset='UTF-8')
    // For all the mobile users...
    meta(name='viewport', content='width=device-width,initial-scale=1')
    // Here's a quick bio...
    meta(name='description', content='Tejas Manohar is an Engineer and Entrepreneur based in Nashville with experience at Orchestrate, StudentRND, and Populr.')
    // Beautiful fonts
    link(rel='stylesheet', href='http://fast.fonts.net/cssapi/4bd8acc8-06ab-4ad1-be40-537258921064.css')
    // And my styles
    link(rel='stylesheet', href='styl/main.styl')

block content
