doctype html
html(lang='en')
  head
    // Hi, my name is...
    title Tejas Manohar
    // My encoding is...
    meta(charset='UTF-8')
    // For all the mobile users...
    meta(name='viewport', content='width=device-width,initial-scale=1')
    // Here's a quick bio...
    meta(name='description', content='Tejas Manohar is an Engineer and Entrepreneur based in Nashville with experience at Orchestrate, StudentRND, and Populr.')

block content
