*
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased

*:after, *.before
  -moz-box-sizing border-box
  box-sizing border-box

main *
  box-sizing border-box
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  font-weight inherit
  font-style inherit
  font-family inherit
  vertical-align baseline

a
  text-decoration none
  cursor pointer
  &:hover
    color #000
