*
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased

*:after, *.before
  -moz-box-sizing border-box
  box-sizing border-box

html
  font-size 10px
  font-family "HelveticaMonospacedW01",Monaco,Consolas,"Lucida Console",monospace
  background-color #fff
  overflow hidden

body
  line-height 1
  font-size 100%
  height 100%
  color #1b1b1b
  -webkit-transition color 500ms,background-color 500ms
  transition color 500ms,background-color 500ms
  overflow hidden

main
  padding 10rem 1rem 1rem 10rem
  font 1.4rem/1.4em "HelveticaMonospacedW01",Monaco,Consolas,"Lucida Console",monospace

main *
  box-sizing border-box
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  font-weight inherit
  font-style inherit
  font-family inherit
  vertical-align baseline

a
  text-decoration none
  cursor pointer
  &:hover
    color #000

ul
  list-style-type none
